<div class="toolbar h-16 bg-slate-900 flex text-white items-center flex px-4 py-2">
  <span>Balloon Popper - Angular</span>
</div>
<main role="main">
  <div class="game-container">
    <div class="flex gap-4">
      @for (balloon of balloons; track balloon.id) {
        <app-balloon [balloon]="balloon"></app-balloon>
      }
    </div>
    <div class="text-2xl font-bold flex gap-4">
      <span>Score: {{score}}</span>
      <span>Missed: {{missed}}</span>
    </div>
  </div>
</main>
<router-outlet></router-outlet>
